VAPID_PUBLIC_KEY=key
VAPID_PRIVATE_KEY=key

REDIS_URL=redis://:pass@ip:6379/0
REDIS_ONLINE=false

DB_ONLINE=true
DB_USER=username
DB_PASS=pass
DB_HOST=ip
DB_PORT=port
DB_NAME=name_of_database

NOTIFY_PASS=pass
NOTIFY_URL=https://likhtarychok.org/

ONLINE=false

NOTIFY_BOT_TOKEN=token
NOTIFY_BOT_ONLINE=false

HELP_BOT_TOKEN=token
HELP_BASE_ADMIN_ID=tg_id
HELP_BOT_ONLINE=false

BOT_ADMINS=tg_id_1,tg_id_2

CAN_CACHE=true