VAPID_PUBLIC_KEY=key
VAPID_PRIVATE_KEY=key
REDIS_URL=redis://:pass@server_ip:port/0

DB_ONLINE=true
DB_USER=username
DB_PASS=pass
DB_HOST=server_ip
DB_PORT=port
DB_NAME=name

NOTIFY_PASS=pass

ONLINE=true

NOTIFY_BOT_TOKEN=token
NOTIFY_BOT_ONLINE=true

HELP_BOT_TOKEN=token
HELP_BASE_ADMIN_ID=tg_id
HELP_BOT_ONLINE=true

STATUS_BOT_TOKEN=token
STATUS_BOT_ONLINE=true

CAN_CACHE=true